.game-grid {
    -fx-background-color: white ;
    -fx-padding: 10 ;
}
.game-grid-cell {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 10 10 10 10 ;
    -fx-padding: 10;
}
.game-grid-cell.first-row {

}
.game-grid-cell.first-column {

}
.game-grid-cell.first-row.first-column {

}

.inventory-label {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.crate-background{
    -fx-background-color: black, lightgray;
    -fx-background-insets: 0, 3 3 3 3 ;
}

.quality-common {
    -fx-background-color: teal, lightgray;
}

.quality-uncommon {
    -fx-background-color: green, lightgray;
}

.quality-rare {
    -fx-background-color: crimson, lightgray;
}

.quality-mythical {
    -fx-background-color: purple, lightgray;
}

.inventory-button {
    -fx-padding: 10;
    -fx-spacing: 10;
}